[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
setuptools = "*"
bumpversion = "==0.5.3"
tox = "==3.5.2"
pytest = "*"
pycodestyle = "*"
twine = "*"
coverage = "*"

[packages]
python-dp = {path = "./dist/python_dp-0.1.4-cp37-cp37m-linux_x86_64.whl"}
